@model Job_Web.Models.ApplicationUser

@{
    ViewData["Title"] = "Thông Tin Người Dùng";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="display-6">Thông Tin Người Dùng</h1>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">ID người dùng:</dt>
                <dd class="col-sm-8">@Model.Id</dd>

                @if (!string.IsNullOrEmpty(Model.Name))
                {
                    <dt class="col-sm-4">Name:</dt>
                    <dd class="col-sm-8">@Model.Name</dd>
                }

                @if (!string.IsNullOrEmpty(Model.Email))
                {
                    <dt class="col-sm-4">Email:</dt>
                    <dd class="col-sm-8">@Model.Email</dd>
                }

                @if (!string.IsNullOrEmpty(Model.Adress))
                {
                    <dt class="col-sm-4">Address:</dt>
                    <dd class="col-sm-8">@Model.Adress</dd>
                }

                @if (!string.IsNullOrEmpty(Model.City))
                {
                    <dt class="col-sm-4">City:</dt>
                    <dd class="col-sm-8">@Model.City</dd>
                }

                @if (!string.IsNullOrEmpty(Model.CompanyName))
                {
                    <dt class="col-sm-4">Company Name:</dt>
                    <dd class="col-sm-8">@Model.CompanyName</dd>
                }

                @if (!string.IsNullOrEmpty(Model.Education))
                {
                    <dt class="col-sm-4">Education:</dt>
                    <dd class="col-sm-8">@Model.Education</dd>
                }

                @if (!string.IsNullOrEmpty(Model.WorkExperience))
                {
                    <dt class="col-sm-4">Work Experience:</dt>
                    <dd class="col-sm-8">@Model.WorkExperience</dd>
                }

                @if (!string.IsNullOrEmpty(Model.Skills))
                {
                    <dt class="col-sm-4">Skills:</dt>
                    <dd class="col-sm-8">@Model.Skills</dd>
                }

                @if (Model.DateOfBirth.HasValue)
                {
                    <dt class="col-sm-4">Date of Birth:</dt>
                    <dd class="col-sm-8">@Model.DateOfBirth.Value.ToString("dd/MM/yyyy")</dd>
                }

                

                @if (!string.IsNullOrEmpty(Model.ResumeFilePath))
                {
                    <dt class="col-sm-4">Resume:</dt>
                    <dd class="col-sm-8">
                        <a href="@Url.Content(Model.ResumeFilePath)" target="_blank" class="btn btn-link">Tải hồ sơ</a>
                    </dd>
                }
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" class="btn btn-warning">Chỉnh sửa thông tin</a>
        </div>
    </div>
</div>