@model Job_Web.Models.ApplicationUser

@{
    ViewData["Title"] = "Thông Tin Người Dùng";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h1 class="display-6">Thông Tin Người Dùng</h1>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">ID người dùng:</dt>
                <dd class="col-sm-8">@Model.Id</dd>

                <dt class="col-sm-4">Name:</dt>
                <dd class="col-sm-8">@(!string.IsNullOrEmpty(Model.Name) ? Model.Name : "Chưa được cập nhật")</dd>

                <dt class="col-sm-4">Email:</dt>
                <dd class="col-sm-8">@(!string.IsNullOrEmpty(Model.Email) ? Model.Email : "Chưa được cập nhật")</dd>

                <dt class="col-sm-4">Address:</dt>
                <dd class="col-sm-8">@(!string.IsNullOrEmpty(Model.Adress) ? Model.Adress : "Chưa được cập nhật")</dd>

                <dt class="col-sm-4">City:</dt>
                <dd class="col-sm-8">@(!string.IsNullOrEmpty(Model.City) ? Model.City : "Chưa được cập nhật")</dd>

                <dt class="col-sm-4">Education:</dt>
                <dd class="col-sm-8">@(!string.IsNullOrEmpty(Model.Education) ? Model.Education : "Chưa được cập nhật")</dd>

                <dt class="col-sm-4">Work Experience:</dt>
                <dd class="col-sm-8">@(!string.IsNullOrEmpty(Model.WorkExperience) ? Model.WorkExperience : "Chưa được cập nhật")</dd>

                <dt class="col-sm-4">Skills:</dt>
                <dd class="col-sm-8">@(!string.IsNullOrEmpty(Model.Skills) ? Model.Skills : "Chưa được cập nhật")</dd>

                <dt class="col-sm-4">Date of Birth:</dt>
                <dd class="col-sm-8">
                    @(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("dd/MM/yyyy") : "Chưa được cập nhật")
                </dd>

                <dt class="col-sm-4">File CV:</dt>
                <dd class="col-sm-8">
                    @if (!string.IsNullOrEmpty(Model.ResumeFilePath))
                    {
                        var fileName = System.IO.Path.GetFileName(Model.ResumeFilePath);
                        <a href="@Url.Content(Model.ResumeFilePath)" download="@fileName" class="btn btn-link">@fileName</a>
                    }
                    else
                    {
                        <span>Chưa được cập nhật</span>
                    }
                </dd>
            </dl>
        </div>
        <div class="card-footer text-center">
            <a asp-action="Edit" class="btn btn-warning">Chỉnh sửa thông tin</a>
        </div>
    </div>
</div>