@model IEnumerable<Job_Web.Models.JobCategory>

<h2>Manager Jobcategory</h2>
<a asp-action="Create" class="btn btn-primary">New Jobcategory</a>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name Profession</th>
        <th>Description</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var category in Model)
    {
        <tr>
            <td>@category.Id</td>
            <td>@category.Profession</td>
            <td>@category.Description</td>
            <td>
                <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>