@model IEnumerable<Job_Web.Models.ApplicationUser>

<h1>ApproveEmployer</h1>

<table class="table">
    <thead>
    <tr>
        <th>Email</th>
        <th>CompanyName</th>
        <th>Adress</th>
        <th>City</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var employer in Model)
    {
        <tr>
            <td>@employer.Email</td>
            <td>@employer.CompanyName</td>
            <td>@employer.Adress</td>
            <td>@employer.City</td>
            <td>
                <form asp-action="ApproveEmployerget" asp-controller="EmployerApproval" asp-area="Admin" method="post" style="display:inline;">
                    <input type="hidden" name="userId" value="@employer.Id" />
                    <button type="submit" class="btn btn-success">Accept</button>
                </form>
                <form asp-action="Reject" asp-controller="EmployerApproval" asp-area="Admin" method="post" style="display:inline;">
                    <input type="hidden" name="userId" value="@employer.Id" />
                    <button type="submit" class="btn btn-danger">Decline</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>